<p-dialog [(visible)]="editEncadrementEtudiantDialog" [style]="{width: '450px'}" header="EncadrementEtudiant Edit" [modal]="true"
    styleClass="p-fluid" [formGroup]="editEncadrementEtudiantForm">
    <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="1">annee</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="1" placeholder="annee"  formControlName="annee"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="2">tempsEstimePourCetteAnnne</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="2" placeholder="tempsEstimePourCetteAnnne"  formControlName="tempsEstimePourCetteAnnne"></p-inputNumber>
                </div>
            <div class="p-field">
                <label for="3">sujetEtude</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="sujetEtude" id="3" formControlName="sujetEtude" required autofocus />
            </div>
                <div class="p-field">
                    <label for="4">codirectionInternationale</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="4" placeholder="codirectionInternationale"  formControlName="codirectionInternationale"></p-inputNumber>
                </div>
            <div class="p-field">
                <label for="5">cursus</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="cursus" id="5" formControlName="cursus" required autofocus />
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="submit()"></button>
    </ng-template>
</p-dialog>