<p-dialog [(visible)]="editExpertiseScientifiqueDialog" [style]="{width: '450px'}" header="ExpertiseScientifique Edit" [modal]="true"
    styleClass="p-fluid" [formGroup]="editExpertiseScientifiqueForm">
    <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="1">annee</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="1" placeholder="annee"  formControlName="annee"></p-inputNumber>
                </div>
            <div class="p-field">
                <label for="2">intitule</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="intitule" id="2" formControlName="intitule" required autofocus />
            </div>
                <div class="p-field">
                    <label for="3">nombreJourConsacrePourCetteAnnee</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="3" placeholder="nombreJourConsacrePourCetteAnnee"  formControlName="nombreJourConsacrePourCetteAnnee"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="4">periodeRemiseRapportMois</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="4" placeholder="periodeRemiseRapportMois"  formControlName="periodeRemiseRapportMois"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="5">periodeRemiseRapportAnnee</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="5" placeholder="periodeRemiseRapportAnnee"  formControlName="periodeRemiseRapportAnnee"></p-inputNumber>
                </div>
            <div class="p-field">
                <label for="6">commentairesEventuels</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="commentairesEventuels" id="6" formControlName="commentairesEventuels" required autofocus />
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="submit()"></button>
    </ng-template>
</p-dialog>