
    <div class="p-grid">
        <div class="p-col-12">

            <p-toast></p-toast>

            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateEncadrementEtudiant('encadrementetudiant')"></button>
                        <button pButton pRipple label="Search"
                                icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                                class="p-button-success p-mr-2 p-mb-2"
                                (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <div class="" *ngIf="findByCriteriaShow">
                                    <input class="p-mr-1" type="text" pInputText placeholder="annee"
                                            [(ngModel)]="searchEncadrementEtudiant.annee" autofocus/>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeMin" [(ngModel)]="searchEncadrementEtudiant.anneeMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeMax" [(ngModel)]="searchEncadrementEtudiant.anneeMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="tempsEstimePourCetteAnnneMin" [(ngModel)]="searchEncadrementEtudiant.tempsEstimePourCetteAnnneMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="tempsEstimePourCetteAnnneMax" [(ngModel)]="searchEncadrementEtudiant.tempsEstimePourCetteAnnneMax"></p-inputNumber>
                            <button pButton pRipple label="Submit" icon="pi pi-sort-amount-down"
                                    class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="encadrementEtudiants" [columns]="cols" [rows]="4" [paginator]="true"
                        [globalFilterFields]="['reference','total','totalPaye']" [(selection)]="selectedEncadrementEtudiant"
                        [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Liste des EncadrementEtudiants</h5>
                            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."/>
                        </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                                <th pSortableColumn="id">id
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="annee">annee
                                    <p-sortIcon field="annee"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tempsEstimePourCetteAnnne">tempsEstimePourCetteAnnne
                                    <p-sortIcon field="tempsEstimePourCetteAnnne"></p-sortIcon>
                                </th>
                                <th pSortableColumn="sujetEtude">sujetEtude
                                    <p-sortIcon field="sujetEtude"></p-sortIcon>
                                </th>
                                <th pSortableColumn="codirectionInternationale">codirectionInternationale
                                    <p-sortIcon field="codirectionInternationale"></p-sortIcon>
                                </th>
                                <th pSortableColumn="cursus">cursus
                                    <p-sortIcon field="cursus"></p-sortIcon>
                                </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-encadrementEtudiant>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="encadrementEtudiant"></p-tableCheckbox>
                            </td>
                            <td>{{encadrementEtudiant.id }}
                            <td>{{encadrementEtudiant.annee }}
                            <td>{{encadrementEtudiant.tempsEstimePourCetteAnnne }}
                            <td>{{encadrementEtudiant.sujetEtude }}
                            <td>{{encadrementEtudiant.codirectionInternationale }}
                            <td>{{encadrementEtudiant.cursus }}

                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-2"
                                        (click)="editEncadrementEtudiant(encadrementEtudiant)"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                        (click)="viewEncadrementEtudiant(encadrementEtudiant)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteEncadrementEtudiant(encadrementEtudiant)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total
                            there {{encadrementEtudiants ? encadrementEtudiants.length == 1 ? 'is' : 'are' : 'is' }} {{encadrementEtudiants ? encadrementEtudiants.length : 0 }} {{encadrementEtudiants ? encadrementEtudiants.length == 1 ? 'encadrementEtudiant' : 'encadrementEtudiants' : 0 }}
                            .
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <app-encadrementEtudiant-create></app-encadrementEtudiant-create>
            <app-encadrementEtudiant-edit></app-encadrementEtudiant-edit>
            <app-encadrementEtudiant-view></app-encadrementEtudiant-view>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
