    <p-dialog [(visible)]="createTypeInstanceDialog" [style]="{width: '70vw'}" header="TypeInstance Details" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <p-tabView>
            <p-tabPanel header="TypeInstance">
                        <div class="p-field">
                            <label for="1">code</label>
                            <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="code" id="1" [(ngModel)]="selectedTypeInstance.code" required autofocus />
                        </div>
                        <div class="p-field">
                            <label for="2">libelle</label>
                            <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="libelle" id="2" [(ngModel)]="selectedTypeInstance.libelle" required autofocus />
                        </div>
            </p-tabPanel>

            </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>


        </ng-template>




    </p-dialog>
