
    <div class="p-grid">
        <div class="p-col-12">

            <p-toast></p-toast>

            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateGestionEquipe('gestionequipe')"></button>
                        <button pButton pRipple label="Search"
                                icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                                class="p-button-success p-mr-2 p-mb-2"
                                (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <div class="" *ngIf="findByCriteriaShow">
                                    <input class="p-mr-1" type="text" pInputText placeholder="annee"
                                            [(ngModel)]="searchGestionEquipe.annee" autofocus/>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeMin" [(ngModel)]="searchGestionEquipe.anneeMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeMax" [(ngModel)]="searchGestionEquipe.anneeMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="tempsEstimePourCetteAnnneMin" [(ngModel)]="searchGestionEquipe.tempsEstimePourCetteAnnneMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="tempsEstimePourCetteAnnneMax" [(ngModel)]="searchGestionEquipe.tempsEstimePourCetteAnnneMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="nombrePersonneHorsEtudiantEtDoctorantMin" [(ngModel)]="searchGestionEquipe.nombrePersonneHorsEtudiantEtDoctorantMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="nombrePersonneHorsEtudiantEtDoctorantMax" [(ngModel)]="searchGestionEquipe.nombrePersonneHorsEtudiantEtDoctorantMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="nombrePersonneMemeNonIrdMin" [(ngModel)]="searchGestionEquipe.nombrePersonneMemeNonIrdMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="nombrePersonneMemeNonIrdMax" [(ngModel)]="searchGestionEquipe.nombrePersonneMemeNonIrdMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="nombrePersonneMemeSousConventionsOuContratProjetMin" [(ngModel)]="searchGestionEquipe.nombrePersonneMemeSousConventionsOuContratProjetMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="nombrePersonneMemeSousConventionsOuContratProjetMax" [(ngModel)]="searchGestionEquipe.nombrePersonneMemeSousConventionsOuContratProjetMax"></p-inputNumber>
                            <button pButton pRipple label="Submit" icon="pi pi-sort-amount-down"
                                    class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="gestionEquipes" [columns]="cols" [rows]="4" [paginator]="true"
                        [globalFilterFields]="['reference','total','totalPaye']" [(selection)]="selectedGestionEquipe"
                        [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Liste des GestionEquipes</h5>
                            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."/>
                        </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                                <th pSortableColumn="id">id
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="annee">annee
                                    <p-sortIcon field="annee"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tempsEstimePourCetteAnnne">tempsEstimePourCetteAnnne
                                    <p-sortIcon field="tempsEstimePourCetteAnnne"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nombrePersonneHorsEtudiantEtDoctorant">nombrePersonneHorsEtudiantEtDoctorant
                                    <p-sortIcon field="nombrePersonneHorsEtudiantEtDoctorant"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nombrePersonneMemeNonIrd">nombrePersonneMemeNonIrd
                                    <p-sortIcon field="nombrePersonneMemeNonIrd"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nombrePersonneMemeSousConventionsOuContratProjet">nombrePersonneMemeSousConventionsOuContratProjet
                                    <p-sortIcon field="nombrePersonneMemeSousConventionsOuContratProjet"></p-sortIcon>
                                </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-gestionEquipe>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="gestionEquipe"></p-tableCheckbox>
                            </td>
                            <td>{{gestionEquipe.id }}
                            <td>{{gestionEquipe.annee }}
                            <td>{{gestionEquipe.tempsEstimePourCetteAnnne }}
                            <td>{{gestionEquipe.nombrePersonneHorsEtudiantEtDoctorant }}
                            <td>{{gestionEquipe.nombrePersonneMemeNonIrd }}
                            <td>{{gestionEquipe.nombrePersonneMemeSousConventionsOuContratProjet }}

                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-2"
                                        (click)="editGestionEquipe(gestionEquipe)"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                        (click)="viewGestionEquipe(gestionEquipe)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteGestionEquipe(gestionEquipe)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total
                            there {{gestionEquipes ? gestionEquipes.length == 1 ? 'is' : 'are' : 'is' }} {{gestionEquipes ? gestionEquipes.length : 0 }} {{gestionEquipes ? gestionEquipes.length == 1 ? 'gestionEquipe' : 'gestionEquipes' : 0 }}
                            .
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <app-gestionEquipe-create></app-gestionEquipe-create>
            <app-gestionEquipe-edit></app-gestionEquipe-edit>
            <app-gestionEquipe-view></app-gestionEquipe-view>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
