
    <div class="p-grid">
        <div class="p-col-12">

            <p-toast></p-toast>

            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateProjetActiviteRecherche('projetactiviterecherche')"></button>
                        <button pButton pRipple label="Search"
                                icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                                class="p-button-success p-mr-2 p-mb-2"
                                (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <div class="" *ngIf="findByCriteriaShow">
                                    <input class="p-mr-1" type="text" pInputText placeholder="annee"
                                            [(ngModel)]="searchProjetActiviteRecherche.annee" autofocus/>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeMin" [(ngModel)]="searchProjetActiviteRecherche.anneeMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeMax" [(ngModel)]="searchProjetActiviteRecherche.anneeMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="tempsEstimePourCetteAnnneMin" [(ngModel)]="searchProjetActiviteRecherche.tempsEstimePourCetteAnnneMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="tempsEstimePourCetteAnnneMax" [(ngModel)]="searchProjetActiviteRecherche.tempsEstimePourCetteAnnneMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="dureeFinancementPrevuEnMoisMin" [(ngModel)]="searchProjetActiviteRecherche.dureeFinancementPrevuEnMoisMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="dureeFinancementPrevuEnMoisMax" [(ngModel)]="searchProjetActiviteRecherche.dureeFinancementPrevuEnMoisMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="montantFinancementPrevuMin" [(ngModel)]="searchProjetActiviteRecherche.montantFinancementPrevuMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="montantFinancementPrevuMax" [(ngModel)]="searchProjetActiviteRecherche.montantFinancementPrevuMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="dureeFinancementAccordeEnMoisMin" [(ngModel)]="searchProjetActiviteRecherche.dureeFinancementAccordeEnMoisMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="dureeFinancementAccordeEnMoisMax" [(ngModel)]="searchProjetActiviteRecherche.dureeFinancementAccordeEnMoisMax"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="montantFinancementAccordeMin" [(ngModel)]="searchProjetActiviteRecherche.montantFinancementAccordeMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="montantFinancementAccordeMax" [(ngModel)]="searchProjetActiviteRecherche.montantFinancementAccordeMax"></p-inputNumber>
                            <button pButton pRipple label="Submit" icon="pi pi-sort-amount-down"
                                    class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="projetActiviteRecherches" [columns]="cols" [rows]="4" [paginator]="true"
                        [globalFilterFields]="['reference','total','totalPaye']" [(selection)]="selectedProjetActiviteRecherche"
                        [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Liste des ProjetActiviteRecherches</h5>
                            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."/>
                        </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                                <th pSortableColumn="id">id
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="annee">annee
                                    <p-sortIcon field="annee"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tempsEstimePourCetteAnnne">tempsEstimePourCetteAnnne
                                    <p-sortIcon field="tempsEstimePourCetteAnnne"></p-sortIcon>
                                </th>
                                <th pSortableColumn="intituleSujetReponse">IntituleSujetReponse
                                    <p-sortIcon field="intituleSujetReponse"></p-sortIcon>
                                </th>
                                <th pSortableColumn="dureeFinancementPrevuEnMois">dureeFinancementPrevuEnMois
                                    <p-sortIcon field="dureeFinancementPrevuEnMois"></p-sortIcon>
                                </th>
                                <th pSortableColumn="montantFinancementPrevu">montantFinancementPrevu
                                    <p-sortIcon field="montantFinancementPrevu"></p-sortIcon>
                                </th>
                                <th pSortableColumn="dureeFinancementAccordeEnMois">dureeFinancementAccordeEnMois
                                    <p-sortIcon field="dureeFinancementAccordeEnMois"></p-sortIcon>
                                </th>
                                <th pSortableColumn="montantFinancementAccorde">montantFinancementAccorde
                                    <p-sortIcon field="montantFinancementAccorde"></p-sortIcon>
                                </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-projetActiviteRecherche>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="projetActiviteRecherche"></p-tableCheckbox>
                            </td>
                            <td>{{projetActiviteRecherche.id }}
                            <td>{{projetActiviteRecherche.annee }}
                            <td>{{projetActiviteRecherche.tempsEstimePourCetteAnnne }}
                            <td>{{projetActiviteRecherche.IntituleSujetReponse }}
                            <td>{{projetActiviteRecherche.dureeFinancementPrevuEnMois }}
                            <td>{{projetActiviteRecherche.montantFinancementPrevu }}
                            <td>{{projetActiviteRecherche.dureeFinancementAccordeEnMois }}
                            <td>{{projetActiviteRecherche.montantFinancementAccorde }}

                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-2"
                                        (click)="editProjetActiviteRecherche(projetActiviteRecherche)"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                        (click)="viewProjetActiviteRecherche(projetActiviteRecherche)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteProjetActiviteRecherche(projetActiviteRecherche)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total
                            there {{projetActiviteRecherches ? projetActiviteRecherches.length == 1 ? 'is' : 'are' : 'is' }} {{projetActiviteRecherches ? projetActiviteRecherches.length : 0 }} {{projetActiviteRecherches ? projetActiviteRecherches.length == 1 ? 'projetActiviteRecherche' : 'projetActiviteRecherches' : 0 }}
                            .
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <app-projetActiviteRecherche-create></app-projetActiviteRecherche-create>
            <app-projetActiviteRecherche-edit></app-projetActiviteRecherche-edit>
            <app-projetActiviteRecherche-view></app-projetActiviteRecherche-view>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
