
    <div class="p-grid">
        <div class="p-col-12">

            <p-toast></p-toast>

            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateDoctorant('doctorant')"></button>
                        <button pButton pRipple label="Search"
                                icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                                class="p-button-success p-mr-2 p-mb-2"
                                (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <div class="" *ngIf="findByCriteriaShow">
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeNaissanceMin" [(ngModel)]="searchDoctorant.anneeNaissanceMin"></p-inputNumber>
                                        <p-inputNumber class="p-mr-2"
                                                       placeholder="anneeNaissanceMax" [(ngModel)]="searchDoctorant.anneeNaissanceMax"></p-inputNumber>
                            <button pButton pRipple label="Submit" icon="pi pi-sort-amount-down"
                                    class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="doctorants" [columns]="cols" [rows]="4" [paginator]="true"
                        [globalFilterFields]="['reference','total','totalPaye']" [(selection)]="selectedDoctorant"
                        [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Liste des Doctorants</h5>
                            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."/>
                        </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                                <th pSortableColumn="id">id
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nom">nom
                                    <p-sortIcon field="nom"></p-sortIcon>
                                </th>
                                <th pSortableColumn="prenom">prenom
                                    <p-sortIcon field="prenom"></p-sortIcon>
                                </th>
                                <th pSortableColumn="anneeNaissance">anneeNaissance
                                    <p-sortIcon field="anneeNaissance"></p-sortIcon>
                                </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-doctorant>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="doctorant"></p-tableCheckbox>
                            </td>
                            <td>{{doctorant.id }}
                            <td>{{doctorant.nom }}
                            <td>{{doctorant.prenom }}
                            <td>{{doctorant.anneeNaissance }}

                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-2"
                                        (click)="editDoctorant(doctorant)"></button>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                        (click)="viewDoctorant(doctorant)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteDoctorant(doctorant)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total
                            there {{doctorants ? doctorants.length == 1 ? 'is' : 'are' : 'is' }} {{doctorants ? doctorants.length : 0 }} {{doctorants ? doctorants.length == 1 ? 'doctorant' : 'doctorants' : 0 }}
                            .
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <app-doctorant-create></app-doctorant-create>
            <app-doctorant-edit></app-doctorant-edit>
            <app-doctorant-view></app-doctorant-view>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
