    <p-dialog [(visible)]="createCultureScientifiqueRecontreGrandPublicJeunePublicDialog" [style]="{width: '70vw'}" header="CultureScientifiqueRecontreGrandPublicJeunePublic Details" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <p-tabView>
            <p-tabPanel header="CultureScientifiqueRecontreGrandPublicJeunePublic">
                            <div class="p-field">
                                <label for="1">tempsEstimePourCetteAnnne</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="1" placeholder="tempsEstimePourCetteAnnne"  [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.tempsEstimePourCetteAnnne"></p-inputNumber>
                            </div>
                        <div class="p-field">
                            <label for="2">intituleSujet</label>
                            <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="intituleSujet" id="2" [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.intituleSujet" required autofocus />
                        </div>
                            <div class="p-field">
                                <label for="3">periodeAnnee</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="3" placeholder="periodeAnnee"  [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.periodeAnnee"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="4">periodeMois</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="4" placeholder="periodeMois"  [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.periodeMois"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="5">evenementGrandPublic</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="5" placeholder="evenementGrandPublic"  [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.evenementGrandPublic"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="6">volumePublic</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="6" placeholder="volumePublic"  [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.volumePublic"></p-inputNumber>
                            </div>
                        <div class="p-field">
                            <label for="7">lienWeb</label>
                            <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="lienWeb" id="7" [(ngModel)]="selectedCultureScientifiqueRecontreGrandPublicJeunePublic.lienWeb" required autofocus />
                        </div>
            </p-tabPanel>
                    <p-tabPanel header="PublicCibleCultureScientifiqueRecontreGrandPublic">
                        <div class="p-grid">
                            <div class="p-col">
                            <div class="row" >
                                <label>publicCible</label>
                                    <p-dropdown [options]="mypublicCiblesRef" [(ngModel)]="selectedPublicCibleCultureScientifiqueRecontreGrandPublic.publicCibleVo.code" placeholder="Select" optionLabel="code" optionValue="code" [showClear]="true"></p-dropdown>
                            </div>
                            <div class="row" >
                                <label>pays</label>
                                    <p-dropdown [options]="mypayssRef" [(ngModel)]="selectedPublicCibleCultureScientifiqueRecontreGrandPublic.paysVo.code" placeholder="Select" optionLabel="code" optionValue="code" [showClear]="true"></p-dropdown>
                            </div>
                        <p-button label="Add" icon="pi pi-plus" iconPos="right" (onClick)="addPublicCibleCultureScientifiqueRecontreGrandPublic()"></p-button>
                            </div>
                            <div class="p-col">
                        <div class="card">
                            <h5>Vertical</h5>
                            <p-table [value]="publicCibleCultureScientifiqueRecontreGrandPublicListe" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                                        <th>publicCible reference</th>
                                                        <th>pays reference</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                                        <td>{{p.publicCibleVo?.code}}</td>
                                                        <td>{{p.paysVo?.code}}</td>
                                        <td>
                                            <button (click)="deletePublicCibleCultureScientifiqueRecontreGrandPublic(p)" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                            </div>
                        </div>
                        </p-tabPanel>
                    <p-tabPanel header="ContexteCultureScientifiqueRecontreGrandPublicJeunePublic">
                        <div class="p-grid">
                            <div class="p-col">
                            <div class="row" >
                                <label>contexte</label>
                                    <p-dropdown [options]="mycontextesRef" [(ngModel)]="selectedContexteCultureScientifiqueRecontreGrandPublicJeunePublic.contexteVo.code" placeholder="Select" optionLabel="code" optionValue="code" [showClear]="true"></p-dropdown>
                            </div>
                        <p-button label="Add" icon="pi pi-plus" iconPos="right" (onClick)="addContexteCultureScientifiqueRecontreGrandPublicJeunePublic()"></p-button>
                            </div>
                            <div class="p-col">
                        <div class="card">
                            <h5>Vertical</h5>
                            <p-table [value]="contexteCultureScientifiqueRecontreGrandPublicJeunePublicListe" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                                        <th>contexte reference</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                                        <td>{{p.contexteVo?.code}}</td>
                                        <td>
                                            <button (click)="deleteContexteCultureScientifiqueRecontreGrandPublicJeunePublic(p)" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                            </div>
                        </div>
                        </p-tabPanel>
                    <p-tabPanel header="EtablissementCultureScientifiqueRecontreGrandPublicJeunePublic">
                        <div class="p-grid">
                            <div class="p-col">
                            <div class="row" >
                                <label>etablissement</label>
                                    <p-dropdown [options]="myetablissementsRef" [(ngModel)]="selectedEtablissementCultureScientifiqueRecontreGrandPublicJeunePublic.etablissementVo.code" placeholder="Select" optionLabel="code" optionValue="code" [showClear]="true"></p-dropdown>
                            </div>
                        <p-button label="Add" icon="pi pi-plus" iconPos="right" (onClick)="addEtablissementCultureScientifiqueRecontreGrandPublicJeunePublic()"></p-button>
                            </div>
                            <div class="p-col">
                        <div class="card">
                            <h5>Vertical</h5>
                            <p-table [value]="etablissementCultureScientifiqueRecontreGrandPublicJeunePublicListe" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                                        <th>etablissement reference</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                                        <td>{{p.etablissementVo?.code}}</td>
                                        <td>
                                            <button (click)="deleteEtablissementCultureScientifiqueRecontreGrandPublicJeunePublic(p)" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                            </div>
                        </div>
                        </p-tabPanel>
                    <p-tabPanel header="PaysCultureScientifiqueRecontreGrandPublicJeunePublic">
                        <div class="p-grid">
                            <div class="p-col">
                            <div class="row" >
                                <label>pays</label>
                                    <p-dropdown [options]="mypayssRef" [(ngModel)]="selectedPaysCultureScientifiqueRecontreGrandPublicJeunePublic.paysVo.code" placeholder="Select" optionLabel="code" optionValue="code" [showClear]="true"></p-dropdown>
                            </div>
                        <p-button label="Add" icon="pi pi-plus" iconPos="right" (onClick)="addPaysCultureScientifiqueRecontreGrandPublicJeunePublic()"></p-button>
                            </div>
                            <div class="p-col">
                        <div class="card">
                            <h5>Vertical</h5>
                            <p-table [value]="paysCultureScientifiqueRecontreGrandPublicJeunePublicListe" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                                        <th>pays reference</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                                        <td>{{p.paysVo?.code}}</td>
                                        <td>
                                            <button (click)="deletePaysCultureScientifiqueRecontreGrandPublicJeunePublic(p)" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                            </div>
                        </div>
                        </p-tabPanel>

            </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>


        </ng-template>




    </p-dialog>
