<p-dialog [(visible)]="viewFoireQuestionDialog" [style]="{width: '450px'}" header="Commande Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
            <div class="p-field">
                <label for="total">question</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="1" [(ngModel)]="selectedFoireQuestion.question" required autofocus  disabled/>
            </div>
            <div class="p-field">
                <label for="total">reponse</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="2" [(ngModel)]="selectedFoireQuestion.reponse" required autofocus  disabled/>
            </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">numeroOrdre</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="3"  [(ngModel)]="selectedFoireQuestion.numeroOrdre" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
