    <p-dialog [(visible)]="createDistinctionDialog" [style]="{width: '70vw'}" header="Distinction Details" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <p-tabView>
            <p-tabPanel header="Distinction">
                        <div class="p-field">
                            <label for="1">dateObtention</label>
                            <p-calendar  id="1" placeholder="dateObtention"  [(ngModel)]="selectedDistinction.dateObtention" dateFormat="yy-mm-dd"></p-calendar>
                        </div>
                        <div class="p-field">
                            <label for="2">intitule</label>
                            <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="intitule" id="2" [(ngModel)]="selectedDistinction.intitule" required autofocus />
                        </div>
            </p-tabPanel>

            </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>


        </ng-template>




    </p-dialog>
