    <p-dialog [(visible)]="createResponsabilitePedagogiqueMasterDialog" [style]="{width: '70vw'}" header="ResponsabilitePedagogiqueMaster Details" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <p-tabView>
            <p-tabPanel header="ResponsabilitePedagogiqueMaster">
                            <div class="p-field">
                                <label for="1">annee</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="1" placeholder="annee"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.annee"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="2">tempsEstimePourCetteAnnne</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="2" placeholder="tempsEstimePourCetteAnnne"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.tempsEstimePourCetteAnnne"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="3">appelServiceRenforcementCapaciteSud</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="3" placeholder="appelServiceRenforcementCapaciteSud"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.appelServiceRenforcementCapaciteSud"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="4">masterInternational</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="4" placeholder="masterInternational"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.masterInternational"></p-inputNumber>
                            </div>
            </p-tabPanel>

            </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>


        </ng-template>




    </p-dialog>
