<p-dialog [(visible)]="viewEvaluationRechercheUniversitaireDialog" [style]="{width: '450px'}" header="Commande Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">annee</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="1"  [(ngModel)]="selectedEvaluationRechercheUniversitaire.annee" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">nombreJourConsacrePourCetteAnnee</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="2"  [(ngModel)]="selectedEvaluationRechercheUniversitaire.nombreJourConsacrePourCetteAnnee" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
            <div class="p-field">
                <label for="total">commentaire</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="3" [(ngModel)]="selectedEvaluationRechercheUniversitaire.commentaire" required autofocus  disabled/>
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
