<p-dialog [(visible)]="editInstrumentsEtDispositifsIrdDialog" [style]="{width: '450px'}" header="InstrumentsEtDispositifsIrd Edit" [modal]="true"
    styleClass="p-fluid" [formGroup]="editInstrumentsEtDispositifsIrdForm">
    <ng-template pTemplate="content">
            <div class="p-field">
                <label for="1">libelle</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="libelle" id="1" formControlName="libelle" required autofocus />
            </div>
            <div class="p-field">
                <label for="2">code</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="code" id="2" formControlName="code" required autofocus />
            </div>
            <div class="p-field">
                <label for="3">description</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText placeholder="description" id="3" formControlName="description" required autofocus />
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="submit()"></button>
    </ng-template>
</p-dialog>