    <p-dialog [(visible)]="createGestionEquipeDialog" [style]="{width: '70vw'}" header="GestionEquipe Details" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <p-tabView>
            <p-tabPanel header="GestionEquipe">
                            <div class="p-field">
                                <label for="1">annee</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="1" placeholder="annee"  [(ngModel)]="selectedGestionEquipe.annee"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="2">tempsEstimePourCetteAnnne</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="2" placeholder="tempsEstimePourCetteAnnne"  [(ngModel)]="selectedGestionEquipe.tempsEstimePourCetteAnnne"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="3">nombrePersonneHorsEtudiantEtDoctorant</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="3" placeholder="nombrePersonneHorsEtudiantEtDoctorant"  [(ngModel)]="selectedGestionEquipe.nombrePersonneHorsEtudiantEtDoctorant"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="4">nombrePersonneMemeNonIrd</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="4" placeholder="nombrePersonneMemeNonIrd"  [(ngModel)]="selectedGestionEquipe.nombrePersonneMemeNonIrd"></p-inputNumber>
                            </div>
                            <div class="p-field">
                                <label for="5">nombrePersonneMemeSousConventionsOuContratProjet</label>
                                <p-inputNumber class="p-mb-2 p-mr-2"  id="5" placeholder="nombrePersonneMemeSousConventionsOuContratProjet"  [(ngModel)]="selectedGestionEquipe.nombrePersonneMemeSousConventionsOuContratProjet"></p-inputNumber>
                            </div>
            </p-tabPanel>

            </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>


        </ng-template>




    </p-dialog>
