<p-dialog [(visible)]="viewEvenementColloqueScienntifiqueDialog" [style]="{width: '450px'}" header="Commande Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">tempsEstime</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="1"  [(ngModel)]="selectedEvenementColloqueScienntifique.tempsEstime" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
            <div class="p-field">
                <label for="total">typeDeParticipation</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="2" [(ngModel)]="selectedEvenementColloqueScienntifique.typeDeParticipation" required autofocus  disabled/>
            </div>
            <div class="p-field">
                <label for="total">intitule</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="3" [(ngModel)]="selectedEvenementColloqueScienntifique.intitule" required autofocus  disabled/>
            </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">periodeEvenementAnnee</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="4"  [(ngModel)]="selectedEvenementColloqueScienntifique.periodeEvenementAnnee" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">periodeEvenementMois</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="5"  [(ngModel)]="selectedEvenementColloqueScienntifique.periodeEvenementMois" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">diplomatieScientifiques</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="6"  [(ngModel)]="selectedEvenementColloqueScienntifique.diplomatieScientifiques" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">volumeParticipant</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="7"  [(ngModel)]="selectedEvenementColloqueScienntifique.volumeParticipant" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
            <div class="p-field">
                <label for="total">financementEvenement</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="8" [(ngModel)]="selectedEvenementColloqueScienntifique.financementEvenement" required autofocus  disabled/>
            </div>
            <div class="p-field">
                <label for="total">typeEvenement</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="9" [(ngModel)]="selectedEvenementColloqueScienntifique.typeEvenement" required autofocus  disabled/>
            </div>
            <div class="p-field">
                <label for="total">partIrd</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="10" [(ngModel)]="selectedEvenementColloqueScienntifique.partIrd" required autofocus  disabled/>
            </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
