<p-dialog [(visible)]="viewProjetActiviteRechercheDialog" [style]="{width: '450px'}" header="Commande Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">annee</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="1"  [(ngModel)]="selectedProjetActiviteRecherche.annee" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">tempsEstimePourCetteAnnne</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="2"  [(ngModel)]="selectedProjetActiviteRecherche.tempsEstimePourCetteAnnne" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
            <div class="p-field">
                <label for="total">IntituleSujetReponse</label>
                <input class="p-mb-2 p-mr-2" type="text" pInputText  id="3" [(ngModel)]="selectedProjetActiviteRecherche.IntituleSujetReponse" required autofocus  disabled/>
            </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">dureeFinancementPrevuEnMois</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="4"  [(ngModel)]="selectedProjetActiviteRecherche.dureeFinancementPrevuEnMois" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">montantFinancementPrevu</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="5"  [(ngModel)]="selectedProjetActiviteRecherche.montantFinancementPrevu" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">dureeFinancementAccordeEnMois</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="6"  [(ngModel)]="selectedProjetActiviteRecherche.dureeFinancementAccordeEnMois" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">montantFinancementAccorde</label>
                        <p-inputNumber class="p-mb-2 p-mr-2"  id="7"  [(ngModel)]="selectedProjetActiviteRecherche.montantFinancementAccorde" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
