<p-dialog [(visible)]="editResponsabilitePedagogiqueEcoleDoctoraleDialog" [style]="{width: '450px'}" header="ResponsabilitePedagogiqueEcoleDoctorale Edit" [modal]="true"
    styleClass="p-fluid" [formGroup]="editResponsabilitePedagogiqueEcoleDoctoraleForm">
    <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="1">annee</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="1" placeholder="annee"  formControlName="annee"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="2">tempsEstimePourCetteAnnne</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="2" placeholder="tempsEstimePourCetteAnnne"  formControlName="tempsEstimePourCetteAnnne"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="3">appelServiceRenforcementCapaciteSud</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="3" placeholder="appelServiceRenforcementCapaciteSud"  formControlName="appelServiceRenforcementCapaciteSud"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="4">ecoleDoctoraleInternational</label>
                    <p-inputNumber class="p-mb-2 p-mr-2"  id="4" placeholder="ecoleDoctoraleInternational"  formControlName="ecoleDoctoraleInternational"></p-inputNumber>
                </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="submit()"></button>
    </ng-template>
</p-dialog>